.comment-wrapper .media-body {
  margin-left: 10px;
}

.comments h2 {
  font-size: 1.5rem;
  color: #687177;
  margin: 10px 0 15px 10px;
}

.badge.badge-light.comment {
  font-size: 0.7em;
  font-weight: normal;
  color:#A6A6A6;
}
h5.add_comment {
  font-size: 1.2rem;
  color: #687177;
  margin: 10px 0 15px 5px;
}
.form-group.comment-body{
  margin-bottom:0.5rem;
}
.user-status-comment{
  font-size: 0.7rem;
}
.card-body.comment {
  padding: 0.1rem 1.3rem;
}
.files_wrapper.comment a {
  font-size: 0.75rem;
}
p.comment {
  font-size: 0.8rem;
  line-height: 1.5em;
  margin-bottom: 0.4rem;
}
.comment .text-muted.filename {
  font-size: 0.9em;
  margin-left: 0;
}
.write-comment-picture {
  padding-left: 25px;
  padding-top: 10px;
}
.card-header.comment {
  padding: .55rem 1.25rem .35rem .75rem;
}
.comment-form{
  margin-bottom: 15px;
  padding-top:10px;
}
.comment-wrapper .plupload_filelist {
  height: 45px;
}
.first-comment-message{
  padding:20px;
}
p.comment {
  font-size: 0.85rem;
  line-height: 1.3em;
}
.card-footer.comment{
  padding: 0.5rem 1rem;
}
.add-comment.card {
  padding: 20px;
}
.add-comment.card h4{
  color: #616a71;
}
.small-comment-body {
  background-color: #f3f3f3;
  /*padding: 3px 10px;*/
  margin:3px;
}
.small-comment-body .username{
  font-size: 0.7rem;
  color: #170ffb;
}
.small-comment-body .body-text{
  font-size: 0.7rem;
}
.small-comment-body .created{
  font-size: 0.6rem;
}
.small-comment-body .btn{
  padding: 0;
}
.post-comment-form .btn{
  font-size: 0.8rem;
}
.post-comment-form .form-text {
  margin-top: 0;
  font-size: 0.8rem;
}
.card.ol-card.ol-post{
  margin-bottom: 30px;
}
.stream-item-body a{
  color: #0811fb;
}
.stream-item-body a:hover{
  text-decoration: underline;
}
.comment-wrapper.add-comment{
  border-left: 3px solid #0811fb;
}
