#edit-message-body-value-format{
  display: none;
}
.messages__item a{
  text-decoration: underline;
  font-weight: bold;
}
.messages-list-wrapper .message-card-body p{
  /*color: #737373;*/
  line-height: 1.3em;
}
.messages-list-wrapper .message-card-body h6{
  font-size:1.15rem;
}
.card.ol-card.message-list-card {
  margin-bottom: 10px;
}
.file-upload-wrapper{
  margin:10px 0 0 10px;
}
