<li class="media">
  <img class="mr-3 rounded-circle" src="{{ vars.user_picture_url }}" alt="Image" height="30">
  <div class="media-body">
    <h6 class="mt-0 mb-1">{{ vars.user_name }}
      <span class="badge badge-light comment">
         {{ vars.created }}
      </span>
    </h6>
      {{ vars.stream_body }}
  </div>
</li>
