.resize-active * {
  -webkit-transition: none !important;
  transition: none !important;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f2f2f2;
  font-size: 0.9em;
  min-height: 100vh;
}
body > .dialog-off-canvas-main-canvas {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p, li {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  color: #252729;
  font-weight: 500;
}
p{
  margin-bottom: 0.7rem;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

blockquote {
  margin-left: 20px;
  padding-left: 10px;
  font-style: italic;
  border-left: 2px solid #ccc
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
p a {
  text-decoration: underline;
}
p a:hover {
  text-decoration: underline;
  color: #0a6eb4;
}
hr {
  border-top: 0;
}

/* Anti-zooming */
@media (max-width: 600px) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  select {
    font-size: 16px;
  }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px;
  !important;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px;
  !important;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px;
  !important;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}
.detailpage {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.h5 {
  font-size: 1.1rem;
}

.h7 {
  font-size: 0.8rem;
}

.ol-wrapper {
  margin-top: 0.97rem;
}

.ol-main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn,
.form-control {
  font-size: 0.9rem;
}

.dropdown-menu {
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 0;
  }
}

.container, .container-lg, .container-md, .container-sm {
  max-width: 960px;
}

@media (min-width: 769px) {
  .detailpage {
    padding-left: 250px;
  }
}
@media (max-width: 768px)
{
  .detailpage #sidebar.collapse.show + .container-fluid
  {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
  }
}


/* ---------------------------------------------------
SIDEBAR
----------------------------------------------------- */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #252729;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.collapse {
  margin-left: -250px;
}

#sidebar.show {
  margin-left: 0;
}

#sidebar .sidebar-header {
  padding: 20px 0 10px 30px;
}

#sidebar ul.components {
  padding: 20px 20px 0 20px;
}

#sidebar ul.components.groups {
  padding-top: 0;
}

#sidebar ul.components.global {
  border-top: 1px solid #505050;
  padding: 30px 20px 10px 20px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 5px 0 8px 10px;
  font-size: 0.95em;
  display: block;
  color: #767676;
  font-weight: 100;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #000;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #000;
  font-weight: bold;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: none;
}

#sidebar h2 {
  font-size: 0.8rem;
  padding: 0 0 0 10px;
}

#sidebar .your-groups {
  margin-top: 15px;
}

.sidebar-header h3 {
  font-size: 1.25rem;
}

#sidebar .svg-inline--fa {
  min-width: 18px;
}

#sidebar li {
  line-height: 1;
}

#sidebar .btn-link {
  color: #585858;
}

#sidebar .sidebar-user {
  padding: 10px 0 10px 30px;
  border-top: 1px solid #505050;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  #sidebarCollapse {
    display: none;
  }
}

.ol-right-sidebar .card-header {
  background-color: #f5f5f5;
  color: #afafaf;
}

#sidebar .btn.dropdown-toggle {
  padding: 0;
}

.detailpage #sidebar {
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  overflow: auto;
  height: 100vh;
}

.detailpage .container-fluid {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.detailpage .container-fluid .row:nth-child(2) {
  margin-bottom: auto;
}
#sidebar .username {
  color: #fff;
  font-size: 1.05rem;
}

#sidebar .username:hover {
  text-decoration: underline;
}

#sidebar .username .fa-chevron-down {
  color: #8a8787;
}

#sidebar .groupname {
  color: #fff;
  font-size: 1rem;
}

#sidebar ul li.unread-messages > a {
  color: #fff;
  font-style: italic;
  font-weight: bold;
}

#sidebar .svg-inline--fa.fa-certificate.fa-w-16 {
  font-size: 10px;
  color: #2578c2;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  padding-top: 0;
  margin-top: 30px;
}

#content .btn-link {
  color: #ccc;
}

/* ---------------------------------------------------
    PAGE HEADER
----------------------------------------------------- */
.pager-header {
  text-align: center;
  font-size: 1.5em;
  margin: -20px -20px 0px -20px;
  padding-top: 20px;
  padding-bottom: 1px;
  background-color: #fff;
}

.pager-header .svg-inline--fa {
  color: #697179;
}

.pager-header .svg-inline--fa.fa-ellipsis-h,
.pager-header .svg-inline--fa.fa-users,
.pager-header .svg-inline--fa.fa-globe {
  color: #ccc;
}

.pager-header h2 {
  font-size: 1.5rem;
  color: #3a3a3a;
}

@media (max-width: 768px) {
  .pager-header h2 {
    font-size: 1.1rem;
  }
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */

.navbar-expand-sm .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}


@media (max-width: 600px) {
  .navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  #navbarSupportedContent {
    justify-content: left !important;
    margin-left: 5px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 0.85rem;
    padding-top: 14px;
  }

}

button #sidebarCollapse {
  margin: 10px 0 10px 20px;
}

.navbar {
  background: #fff !important;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 4px 0 0 0;
}

.navbar-light .navbar-nav .active > .nav-link {
  border-bottom: 1px #000 solid;
  font-weight: bold;
}

.navbar .container-fluid {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 0.85em;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .7rem;
  padding-left: .7rem;
  color: #636363;
}

.navbar-group-name {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .navbar-brand {
    padding: 5px 20px 8px 20px;
    white-space: nowrap;
    border-right: 1px dotted #ccc;
  }
}
.navbar-brand {
  font-size: 1rem;
}
.navbar {
  white-space: nowrap;
}
.navbar-toggler {
  margin-right: 20px;
}
.nav-link {
  text-align: right;
}
.navbar-nav .nav-link {
  padding-right: 30px;
}

button#sidebarCollapse {
  margin: 10px 20px;
}

button#group-apps-collapse {
  margin: 10px 20px;
}

/* ---------------------------------------------------
    MAIN / CONTENT
----------------------------------------------------- */

@media (max-width: 768px) {
  #content {
    padding: 0;
  }
}

ul.media-list {
  padding-left: 0px;
  margin: 0px;
}

.heading h1 {
  position: absolute;
  left: 0;
  top: 35px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: max-content;
  font-size: 1.5rem;
  color: #fff;
}

.title h2 {
  font-size: 1.5rem;
  margin-left: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  color: #616a71;
  min-height: 40px;
}

.list h2 {
  margin-left: 0;
}

.messages {
  margin-bottom: 20px;
}

.change_status:hover {
  color: #fff;
}

.badge.badge-light {
  font-weight: normal;
  color: #a09c9c;
}

.badge {
  font-weight: normal;
}

#sidebar label {
  color: #666;
}

.fieldset-legend,
.form-item label {
  color: #555d64;
  font-size: 0.9rem;
  font-weight: bold;
}
.form-item .option {
  font-weight: normal;
}

.fieldset-wrapper {
  padding: 0 5px;
}

.navigation-form .form-submit {
  visibility: hidden;
}

.visually-hidden {
  display: none;
}

nav.pager {
  text-align: center;
  margin-bottom: 80px;
}

#section-navigation-form .form-submit {
  display: none;
}

.badge.badge-light a:hover,
.media a:hover {
  text-decoration: underline;
  color: #000;
}

.dropdown .btn-link .fa-ellipsis-h:hover {
  color: #000;
}

#files-navigation-form .form-submit {
  display: none;
}

.cke_bottom.cke_reset_all {
  display: none;
}

.cke_dialog_ui_textarea,
.cke_dialog_ui_html {
  display: none;
}

.h5.m-0 a:hover,
.m-0 a:hover {
  text-decoration: underline;
}

.badge.small {
  font-size: 0.6rem;
  vertical-align: middle;
  margin-top: -0.5em;
}

.heading .img-fluid {
  height: 100%
}

.groups .dropdown-toggle {
  cursor: pointer;
}

.js-filter-wrapper {
  display: none;
}

.card-body.activity .comment {
  color: #6a6a6a;
}

.activity-heading .activity-heading-icon {
  font-size: 1.1rem;
  color: #bbb;
  margin-right: 3px;
}

.group_selector {
  margin: 1.55rem 1rem 0.5rem 1.25rem;
}

.dropdown-item {
  padding: .25rem 1.25rem .25rem .8rem
}

#group-options-drop {
  padding: 5px 10px;
  background-color: #41474c;
  border-color: #5a626a;
}
#edit-role--description {
  margin-top: 5px;
}
.group-settings {
  background: #fff;;
  padding: 20px 10px;
  max-width: 780px;
  border: 1px solid #ccc;
}
.modal-title {
  color: #252729;
}
.register .last_name {
  display: none;
}
.register .birthday {
  display: none;
}
#user-login-form #edit-name--description,
#user-login-form #edit-pass--description {
  display: none;
}
#edit-pass {
  margin-bottom: 20px;
}
#user-login-form label {
  margin-top: 10px;
  margin-bottom: 5px;
}
#user-pass,
#user-login-form {
  margin-top: 20px;
}
.global-message{
  background-color: #d27238;
  color: #fff;
  padding: 5px 10px;
}
