.resize-active *
{
    -webkit-transition: none !important;
            transition: none !important;
}

html,
body
{
    min-height: 100vh;
}

body > .dialog-off-canvas-main-canvas
{
    min-height: 100vh;
}

.detailpage
{
    min-height: 100vh;
}

.detailpage #sidebar
{
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;

    overflow: auto;

    height: 100vh;
}

.detailpage .container-fluid
{
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.detailpage .container-fluid .row:nth-child(2)
{
    margin-bottom: auto;
}

#stream-item-form
{
    right: 0;
    left: 0;

    box-sizing: border-box;
    max-width: 100%;
    margin-bottom: 0;
    padding-right: 16px;

    background-color: #f2f2f2;
}

#stream-item-form > .container-md
{
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #f2f2f2;
}

#content.stream-holder
{
    height: auto;
    min-height: auto;
    padding-bottom: 130px;
}

#content.stream-holder .container-md
{
    margin-top: 0;
}

#stream-item-form .plupload_filelist li
{
    /*font-size: .9rem;*/
    line-height: 26px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 34px;
    padding: 4px 15px;

    border: 0;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#stream-item-form .plupload_filelist li.plupload_droptext
{
    /*font-size: .9rem;*/
    line-height: 26px;

    height: 34px;
    padding: 4px 10px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#stream-item-form  div.plupload_file_name
{
    width: 46%;
    margin-right: auto;

    white-space: nowrap;
    text-overflow: ellipsis;
}

#stream-item-form div.plupload_file_status
{
    width: 20%;
}

#stream-item-form div.plupload_file_size
{
    width: 20%;
}

#stream-item-form div.plupload_file_action
{
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

#stream-item-form div.plupload_filelist_footer
{
    line-height: 1.5;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 35px;
    margin-top: -35px;
    padding: .375rem .75rem;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#stream-item-form div.plupload_filelist_footer a
{
    line-height: inherit;

    display: inline-block;

    padding-top: 0;
    padding-bottom: 0;

    vertical-align: middle;
}

#stream-item-form .plupload_scroll .plupload_filelist
{
    height: 36px;
}

.stream-item-form .form-control
{
    line-height: 26px;

    height: 36px;
    padding: 4px 15px;
}

.stream-item-form .input-group .input-group-append
{
    width: 60px;
}

.stream-item-form .input-group .form-item
{
    width: calc(100% - 60px);
}

.stream-list-holder
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    padding: 0;

    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    text-align: left;

    direction: rtl;
}

.stream-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
        flex-flow: column;
    direction: ltr;
}

.stream-list#message-container
{
    overflow: hidden;

    width: 100%;
    margin: 0;

    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

@media (min-width: 540px)
{
    div.plupload_file_status
    {
        max-width: 80px;
    }

    div.plupload_file_size
    {
        max-width: 66px;
    }
}

@media (min-width: 769px)
{
    .detailpage
    {
        padding-left: 250px;
    }

    #stream-item-form
    {
        padding: 0 50px;
        padding-left: 285px;

        background-color: transparent;
    }
}

@media (min-width: 992px)
{
    #stream-item-form > .container-md
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #content.stream-holder
    {
        padding-bottom: 115px;
    }

    .plupload_filelist li.plupload_droptext
    {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 768px)
{
    .detailpage #sidebar.collapse.show + .container-fluid
    {
        -webkit-transform: translateX(250px);
            -ms-transform: translateX(250px);
                transform: translateX(250px);
    }
}

