.folders .active a,
.folders .active .btn-link{
  color:#fff;
}
table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
  border-bottom: 1px solid #9a9a9a !important;
}
.form-managed-file .form-item .file {
  font-size: 0.8rem;
}
form .file{
  font-size: 0.95rem;
  line-height: 1.5rem;
  max-width: 220px;
  /*display:inline-block;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
form .file-size {
  font-size: 0.8rem;
  display: inline-block;
}
.form-managed-file label.option{
  margin-bottom:0 !important;
}
