<div class="list-group-item nested-sortable drag-handle item" id="{{ vars.text_doc.id }}">
  <i class="lni lni-move pr-2 text-black-50"></i>
  {{ vars.text_doc.name }}
  {{ vars.children|raw }}
</div>
