{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<h3>
  <a href="{{ url('<front>') }}">
    {{ vars.site_logo|raw }} {{ vars.site_name }} </a>
</h3>
