<div class="container">
  <div class="row title">
    <div class="col">
      <h2>{{ 'Group settings' }}</h2>
    </div>
  </div>
</div>

<div class="container group-settings">
  <div class="row">
    <div class="col">
      {{ vars.config_form }}
    </div>
  </div>
</div>

