{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div class="col-md-12 ol-main">
  <div class="row heading">
    <div class="col-sm text-center global-message">
      {{ vars.global_message }}
    </div>
  </div>
</div>
