{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div class="col-md-12 ol-main">
  <div class="row heading">
{#    <img class='img-fluid w-100' src="/{{ directory }}/images/{{ vars.image }}" alt="" />#}
  </div>
</div>
