{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<h3>
  <a href="{{ url('<front>') }}">
    <i class="fas fa-circle-notch"></i> {{ vars.site_name }} </a>
</h3>
