{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<h3>
  <a href="{{ url('<front>') }}">
    <img src="{{ base_path }}{{ active_theme_path() }}/images/logo.png" height="23" /> {{ vars.site_name }} </a>
</h3>
