<!-- Modal file in folder-->
<div class="modal fade" id="putFileInFolderModal"  role="dialog" aria-labelledby="editMessageLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-folder-open"></i> {{ 'Place File In Folder'|t }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ vars.file_in_folder }}
    </div>
  </div>
</div>
<!-- / Modal file in folder-->
