<!-- Modal remove file -->
{# Manipulated by ol_files/js/ol_files.js #}
<div class="modal fade" id="removeFolder" tabindex="-1" role="dialog" aria-labelledby="removeFile" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-triangle"></i> {{ 'Remove Folder'|t }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans %}
        <p>You are about to remove <b><span class="folder_name"></span></b>. Are you sure?</p>
        {% endtrans %}
      </div>
      <div class="modal-footer">
        {{ vars.remove_folder_modal }}
      </div>
    </div>
  </div>
</div>
<!-- / Modal remove file from folder  -->
