<div class="row title">
  <div class="col-4">
    <h2>{{ 'Files'|t }}</h2>
  </div>
  <div class="col-lg-4">
    {{ vars.navigation_form }}
  </div>
  {% if vars.org_member == true %}
    <div class="col text-right">
      <div class="form-group">
        <button class="btn btn-success" data-toggle="modal" data-target="#addMessageModal">
          <i class="fa fa-plus"></i> {{'Upload Files'|t}}
        </button>
      </div>
    </div>
  {% endif %}
</div>
